@charset "UTF-8";
#bgBlur{
    height:300px;
    object-fit:cover;
    overflow:hidden;
    margin:0 auto;
    width: 100%;
	text-align: center;
	background-blend-mode: darken;
}
 
#bgBlur > img {

}

.container{
	max-width: 960px;
}

#moviewrapper{
    min-height: 100%;
    position: relative;
    padding-top: 72px;
    padding-bottom: 0px;

}

.movieposter{
	width:200px;
	height:300px;
	
}
.movieposter img{
	max-width: 200px;
	max-height: 300px;
	padding-bottom: 50px;
}

#movietitle{
	margin-left: 20px;
}

#backcolor{
	width:100%;
	background-blend-mode: darken;
}

#starform fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#starform fieldset legend{
	font-size:12px;
    text-align: center;
}
#starform input[type=radio]{
    display: none;
}
#starform label{
    font-size: 1em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#starform label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#starform label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#starform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#reviewContents {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}