@charset "UTF-8";
#bgBlur{
    height:300px;
    object-fit:cover;
    overflow:hidden;
    margin:0 auto;
    width: 100%;
	text-align: center;
	background-blend-mode: darken;
}
 
#bgBlur > img {

}

.container{
	max-width: 960px:
}

#moviewrapper{
    min-height: 100%;
    position: relative;
    padding-top: 72px;
    padding-bottom: 0px;

}

.movieposter{
	width:200px;
	height:300px;
	
}
.movieposter img{
	max-width: 200px;
	max-height: 300px;
	padding-bottom: 50px;
}

#movietitle{
	margin-left: 20px;
}

#backcolor{
	width:100%;
	background-blend-mode: darken;
}

legend{
	font-size:10px;
}