<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie">
	<select id="getList" parameterType="movieDto" resultType="movieDto">
		SELECT *
		FROM
		(SELECT num, title, genre, poster_path, stars
		FROM movie
		ORDER BY stars ASC)
		WHERE ROWNUM BETWEEN 1 AND 30
	</select>
	
	<select id="getList2" parameterType="movieDto" resultType="movieDto">
		SELECT *
		FROM
			(SELECT num, title, genre, poster_path, stars
			FROM movie
			ORDER BY stars DESC)
		WHERE ROWNUM BETWEEN 1 AND 30
	</select>

	<select id="getData" parameterType="int" resultType="movieDto">
		SELECT *
		FROM movie
		WHERE num = #{num}
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE
		FROM movie
		WHERE num = #{num}
	</delete>
	<insert id="addStars" parameterType="map">
		INSERT INTO STARS
		(movie_no, user_id, stars)
		VALUES(#{num},#{id},#{star})
	</insert>
	<select id="getStars" parameterType="map" resultType="int">
		SELECT stars
		FROM Stars
		WHERE movie_no=#{num} AND user_id=#{id}
	</select>
	
</mapper>